{
	"openapi": "3.0.3",
	"info": {
		"title": "Grindr API",
		"version": "2026-07-20"
	},
	"servers": [
		{
			"url": "https://grindr.mobi"
		},
		{
			"url": "https://cdns.grindr.com"
		},
		{
			"url": "https://{distribution}.cloudfront.net",
			"description": "Signed media. The distribution is not stable — read the host from the media object's `url`.",
			"variables": {
				"distribution": {
					"default": "d3lyqctnm3b6pb",
					"description": "CloudFront distribution serving signed media"
				}
			}
		},
		{
			"url": "wss://grindr.mobi"
		}
	],
	"tags": [
		{
			"name": "messaging"
		},
		{
			"name": "users"
		},
		{
			"name": "browse"
		},
		{
			"name": "analytics"
		},
		{
			"name": "media",
			"description": "Media uploads (profile photos and chat media) are protected by a per-session device key. Register a P-256 key with the endpoints below, then sign each upload as described in [Security headers -> Device-key upload signing](/grindr-api/security-headers#device-key-upload-signing)."
		},
		{
			"name": "interest"
		},
		{
			"name": "settings"
		},
		{
			"name": "third-party-integrations",
			"x-wip": true
		},
		{
			"name": "woodwork"
		},
		{
			"name": "authentication"
		},
		{
			"name": "system/bootstrap",
			"x-wip": true
		},
		{
			"name": "messaging/drawer",
			"x-wip": true
		},
		{
			"name": "system/notifications"
		},
		{
			"name": "system/ratings",
			"description": "Appears to be the \"rate the app in a store\" dialog."
		},
		{
			"name": "system/signal-share"
		},
		{
			"name": "safety/access-requests",
			"x-wip": true
		},
		{
			"name": "commerce/boosting",
			"x-wip": true
		},
		{
			"name": "messaging/gifs",
			"x-wip": true
		},
		{
			"name": "commerce/grindrstore",
			"x-wip": true
		},
		{
			"name": "system/heatmap",
			"x-wip": true
		},
		{
			"name": "safety/legal-agreements",
			"x-wip": true
		},
		{
			"name": "system/logging",
			"x-wip": true
		},
		{
			"name": "system/modal",
			"x-wip": true
		},
		{
			"name": "commerce/offers",
			"x-wip": true
		},
		{
			"name": "safety/reports",
			"x-wip": true
		},
		{
			"name": "commerce/rewarded-ads"
		},
		{
			"name": "commerce/rewarded-chats",
			"x-wip": true
		},
		{
			"name": "right-now",
			"x-wip": true
		},
		{
			"name": "commerce/storeapirest",
			"x-wip": true
		},
		{
			"name": "commerce/top-picks",
			"x-wip": true
		},
		{
			"name": "videocalls",
			"x-wip": true
		},
		{
			"name": "commerce/vip",
			"x-wip": true
		},
		{
			"name": "safety/warnings",
			"x-wip": true
		},
		{
			"name": "analytics/assignments",
			"description": "Assignments are used for feature flagging and A/B testing. They can be assigned to users based on their geohash, allowing for location-based feature rollouts and experiments."
		},
		{
			"name": "analytics/trackers"
		},
		{
			"name": "browse/age-verification",
			"x-wip": true,
			"x-wip-note": "Help needed."
		},
		{
			"name": "browse/blocks",
			"description": "Blocking a user automatically deletes the conversation for both of you."
		},
		{
			"name": "browse/discover",
			"x-wip": true,
			"x-wip-note": "Help needed."
		},
		{
			"name": "browse/entitlements"
		},
		{
			"name": "browse/grid",
			"description": "[Cascade](#get-cascade) returns stuff like advertisements, upsells and partial profiles, presumably ranked by algorithms or paid subscriptions. [Search](#search) returns full profiles, seemingly ranked simply by distance."
		},
		{
			"name": "browse/hides",
			"description": "Unknown how it's different from [blocks](/grindr-api/browse/blocks), WIP. Blocks API is preferred until this is figured out."
		},
		{
			"name": "browse/links",
			"x-wip": true,
			"x-wip-note": "Unknown, WIP"
		},
		{
			"name": "browse/location"
		},
		{
			"name": "browse/roam",
			"x-wip": true
		},
		{
			"name": "browse/social-events"
		},
		{
			"name": "browse/travels"
		},
		{
			"name": "interest/alist",
			"x-wip": true
		},
		{
			"name": "interest/taps",
			"description": "Cookie taps are essentially bubbles \"hi\" but your client can choose to render them as 🍪. There is no separate cookie tap type."
		},
		{
			"name": "interest/views"
		},
		{
			"name": "media/public-cdn-files",
			"description": "CDN files that are public are accessible directly using their hash, e.g. profile images.\n\nBase URL: `https://cdns.grindr.com`"
		},
		{
			"name": "media/signed-cdn-files",
			"description": "CDN files accessible via signed URLs signed with `Signature` query argument. New signed URLs are generated and populated in API responses when existing URL expires. `Expires` query argument holds expiration date in unix timestamp in seconds, 15 minutes.\n\nBase URL appears to be: `https://{distribution}.cloudfront.net/`, always take the full URL from the `url` property on the media object itself."
		},
		{
			"name": "messaging/albums",
			"description": "WIP. No idea what SpankBank, pressie albums and paywalled albums are."
		},
		{
			"name": "messaging/conversations"
		},
		{
			"name": "messaging/messages"
		},
		{
			"name": "messaging/misc"
		},
		{
			"name": "messaging/saved-phrases"
		},
		{
			"name": "settings/account"
		},
		{
			"name": "settings/sms-verification",
			"x-wip": true
		},
		{
			"name": "third-party-integrations/ketch",
			"x-wip": true
		},
		{
			"name": "third-party-integrations/spotify",
			"x-wip": true
		},
		{
			"name": "users/favorites"
		},
		{
			"name": "users/profiles"
		},
		{
			"name": "websocket"
		},
		{
			"name": "system/reddot",
			"x-wip": true
		},
		{
			"name": "woodwork/random-promotion-images",
			"description": "[Woodwork](https://www.woodwork.com/) is a service by Grindr."
		},
		{
			"name": "commerce",
			"description": "In-app purchases, subscriptions, boosts, rewards, gifts, and the Grindr store."
		},
		{
			"name": "safety",
			"description": "Reporting, moderation warnings, legal agreements, and private album access requests."
		},
		{
			"name": "system",
			"description": "App bootstrap, notifications, modals, logging, and other platform plumbing."
		}
	],
	"paths": {
		"/v8/sessions": {
			"post": {
				"tags": [
					"authentication"
				],
				"operationId": "signIn",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SessionCreateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuthSessionResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Sign in",
				"description": "Make sure you're passing all [Security headers](/grindr-api/security-headers) or you might stumble upon `{\"code\":28,\"message\":\"ACCOUNT_BANNED\",\"profileId\":null,\"type\":1,\"reason\":null,\"isBanAutomated\":true,\"thirdPartyUserIdToShow\":null,\"banSubReason\":null}` — but don't fret — it's a fake error, your account isn't banned and the API simply blocked your request, not the account. Endpoint selection depends on the `recaptcha_first_party` [assignment](/grindr-api/analytics/assignments): when disabled (default) sign-in uses `/v8/sessions`; when enabled the client uses `POST /v9/sessions` with an extra `captchaToken`, sharing the same body otherwise.",
				"x-errors": {
					"ACCOUNT_BANNED": "could be malformed request",
					"INVALID_INPUT_PARAMETERS": "incorrect credentials"
				}
			}
		},
		"/v9/sessions": {
			"post": {
				"tags": [
					"authentication"
				],
				"operationId": "signInV9",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SessionCreateRequestV9"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuthSessionResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Sign in via reCAPTCHA",
				"description": "reCAPTCHA variant of `POST /v8/sessions`. The client uses this endpoint instead of `/v8/sessions` only when the `recaptcha_first_party` [assignment](/grindr-api/analytics/assignments) is enabled. That assignment is sent by the server and resolved before login. The body is identical to `SessionCreateRequest` plus a `captchaToken` (a reCAPTCHA Enterprise token for the `login` action). The official client always populates `captchaToken` here and aborts locally if it can't obtain one, so a `null`/absent token never reaches this endpoint from the app.",
				"x-errors": {
					"ACCOUNT_BANNED": "could be malformed request",
					"INVALID_INPUT_PARAMETERS": "incorrect credentials; on this endpoint a rejected `captchaToken` (e.g. expired or low-score) is also a plausible cause — server behavior, not confirmed from the client"
				}
			}
		},
		"/v3/bootstrap": {
			"get": {
				"tags": [
					"system/bootstrap"
				],
				"operationId": "getBootstrap",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "BootstrapResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get bootstrap",
				"x-wip": true
			}
		},
		"/v4/chat/media/drawer": {
			"get": {
				"tags": [
					"messaging/drawer"
				],
				"operationId": "getDrawerMedia",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/DrawerMedia"
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get media in drawer"
			}
		},
		"/v4/chat/media/drawer/{conversationId}": {
			"get": {
				"tags": [
					"messaging/drawer"
				],
				"operationId": "getDrawerMediaForConversation",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/ConversationIdPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/DrawerMedia"
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get media in drawer for a conversation"
			}
		},
		"/v4/chat/media/drawer/{mediaId}": {
			"put": {
				"tags": [
					"messaging/drawer"
				],
				"operationId": "addDrawerMedia",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/MediaIdPath"
					}
				],
				"responses": {
					"200": {
						"description": "Empty."
					},
					"500": {
						"description": "Repeated requests cause 500 HTTP status \"Internal Error\"."
					}
				},
				"summary": "Add media to drawer",
				"description": "MediaId must be obtained through [uploading](/grindr-api/messaging/drawer#upload-media)."
			},
			"delete": {
				"tags": [
					"messaging/drawer"
				],
				"operationId": "deleteDrawerMedia",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/MediaIdPath"
					}
				],
				"responses": {
					"200": {
						"description": "Empty with HTTP status 202."
					},
					"202": {
						"description": "Accepted"
					}
				},
				"summary": "Delete media from drawer",
				"x-idempotent": true
			}
		},
		"/public/v1/notifications/ack": {
			"post": {
				"tags": [
					"system/notifications"
				],
				"operationId": "ackNotifications",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/NotificationsAckRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Empty."
					}
				},
				"summary": "Acknowledge notifications",
				"x-wip": true
			}
		},
		"/v1/ratings/ack": {
			"post": {
				"tags": [
					"system/ratings"
				],
				"operationId": "ackRatingPrompt",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"acknowledgmentTime": {
											"allOf": [
												{
													"$ref": "#/components/schemas/TimestampMs"
												}
											]
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Acknowledge rating"
			}
		},
		"/v1/signalshare": {
			"get": {
				"tags": [
					"system/signal-share"
				],
				"operationId": "getSignalShare",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"profileId": {
											"type": "integer",
											"format": "int64",
											"description": "long integer"
										},
										"sevenDayRevenue": {
											"type": "number",
											"format": "float",
											"nullable": true,
											"description": "float, the user's revenue over the last 7 days (may be null)"
										},
										"thirtyDayRevenue": {
											"type": "number",
											"format": "float",
											"nullable": true,
											"description": "float, the user's revenue over the last 30 days (may be null)"
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get signal share"
			}
		},
		"/v2/access-requests/codes": {
			"post": {
				"tags": [
					"safety/access-requests"
				],
				"operationId": "createAccessRequestVerificationCodeV2",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "DataPortabilityVerificationCode"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v2/access-requests": {
			"get": {
				"tags": [
					"safety/access-requests"
				],
				"operationId": "getAccessRequestsV2",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "AccessPortabilityResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"safety/access-requests"
				],
				"operationId": "createAccessRequestV2",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "DataPortabilityRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/access-requests": {
			"get": {
				"tags": [
					"safety/access-requests"
				],
				"operationId": "getAccessRequestsV1",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "DataPortabilityResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"safety/access-requests"
				],
				"operationId": "createAccessRequestV1",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "DataPortabilityRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/access-requests/confirmations": {
			"post": {
				"tags": [
					"safety/access-requests"
				],
				"operationId": "confirmAccessRequestV1",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v2/access-requests/confirm": {
			"post": {
				"tags": [
					"safety/access-requests"
				],
				"operationId": "confirmAccessRequestV2",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/access-requests/codes": {
			"post": {
				"tags": [
					"safety/access-requests"
				],
				"operationId": "createAccessRequestVerificationCodeV1",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "DataPortabilityVerificationCode"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v2/boost/sessions": {
			"get": {
				"tags": [
					"commerce/boosting"
				],
				"operationId": "getBoostSessions",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "BoostSessionResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/consumables/redeem/boost": {
			"post": {
				"tags": [
					"commerce/boosting"
				],
				"operationId": "redeemBoost",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "BoostRedeemedResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/boost/preferences/mega": {
			"post": {
				"tags": [
					"commerce/boosting"
				],
				"operationId": "setMegaBoostPreferences",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "SuperBoostPreferencesRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/boost/preferences/super": {
			"post": {
				"tags": [
					"commerce/boosting"
				],
				"operationId": "setSuperBoostPreferences",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "SuperBoostPreferencesRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/boost/preferences/standard": {
			"post": {
				"tags": [
					"commerce/boosting"
				],
				"operationId": "setStandardBoostPreferences",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "BoostPreferencesRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/consumables/inventory": {
			"get": {
				"tags": [
					"commerce/boosting"
				],
				"operationId": "getConsumablesInventory",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "ConsumableInventoryResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/gifs/trending": {
			"get": {
				"tags": [
					"messaging/gifs"
				],
				"servers": [
					{
						"url": "https://api.giphy.com"
					}
				],
				"operationId": "getTrendingGifs",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "rating",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GiphyResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/gifs/search": {
			"get": {
				"tags": [
					"messaging/gifs"
				],
				"servers": [
					{
						"url": "https://api.giphy.com"
					}
				],
				"operationId": "searchGifs",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "rating",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "q",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "offset",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GiphyResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3.1/store/grindrstore/coupons": {
			"post": {
				"tags": [
					"commerce/grindrstore"
				],
				"operationId": "submitGrindrStoreCoupon",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "CouponRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/explore_heatmaps/all_locations": {
			"get": {
				"tags": [
					"system/heatmap"
				],
				"operationId": "getAllExploreHeatmaps",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "ExploreHeatmapsResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/explore_heatmaps": {
			"post": {
				"tags": [
					"system/heatmap"
				],
				"operationId": "queryExploreHeatmaps",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "ExploreHeatmapsRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "ExploreHeatmapsResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v5/legal-agreements/subscriber-sponsored-content": {
			"get": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "getSubscriberSponsoredContentAgreement",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									],
									"x-original-type": "SponsoredContentConsentAgreementResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "acceptSubscriberSponsoredContentAgreement",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "SponsoredContentAcceptConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"delete": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "deleteSubscriberSponsoredContentAgreement",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "SponsoredContentAcceptConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true,
				"x-notes": [
					"Note: this DELETE endpoint accepts a request body."
				]
			}
		},
		"/v1/agreements/ban": {
			"post": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "acceptBanAgreement",
				"summary": "Accept ban agreement",
				"description": "Acknowledges the community-guideline agreement shown during a timed ban. Flips `isAgreementCompleted` in the session `banDetails`.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "BanAgreementRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3/me/legal-agreements": {
			"get": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "getAcceptedLegalAgreements",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "AcceptedLegalAgreementsResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"put": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "acceptLegalAgreements",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "AcceptLegalAgreementsRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v5/legal-agreements/vip-matchmaker": {
			"get": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "getVipMatchmakerAgreement",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "VipMatchmakerConsentAgreementResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "acceptVipMatchmakerAgreement",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "VipMatchmakerAcceptConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"delete": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "deleteVipMatchmakerAgreement",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "VipMatchmakerAcceptConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v4/legal-agreements/top-picks": {
			"get": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "getTopPicksAgreementV4",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "TopPicksConsentAgreementResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "acceptTopPicksAgreementV4",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "TopPicksAcceptConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"delete": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "deleteTopPicksAgreementV4",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v5/legal-agreements/top-picks": {
			"get": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "getTopPicksAgreementV5",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "TopPicksConsentAgreementResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"delete": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "deleteTopPicksAgreementV5",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "TopPicksAcceptConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v4/legal-agreements/right-now": {
			"get": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "getRightNowAgreement",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RightNowConsentAgreementResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true,
				"deprecated": true,
				"description": "**Removed in app 26.13.0** — the client no longer fetches a Right Now consent agreement, and creating a Right Now post no longer requires accepting one. Documented for older builds."
			},
			"post": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "acceptRightNowAgreement",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "RightNowAcceptConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true,
				"deprecated": true,
				"description": "**Removed in app 26.13.0** — the client no longer accepts a Right Now consent agreement, and creating a Right Now post no longer requires one. Documented for older builds."
			}
		},
		"/v3/legal-agreements": {
			"get": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "getLegalAgreementsInfo",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "LegalAgreementsInfo"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/opt-out": {
			"put": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "setOptOutConsent",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "ConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"delete": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "deleteOptOutConsent",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "ConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"safety/legal-agreements"
				],
				"operationId": "createOptOutConsent",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "ConsentRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "ConsentOptStatusResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3/logging/mobile/logs": {
			"post": {
				"tags": [
					"system/logging"
				],
				"operationId": "uploadMobileLogs",
				"requestBody": {
					"required": true,
					"content": {
						"application/octet-stream": {
							"schema": {
								"type": "string",
								"format": "binary"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/uxevent": {
			"post": {
				"tags": [
					"system/logging"
				],
				"operationId": "submitUxEvent",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "UxEventRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/modal": {
			"get": {
				"tags": [
					"system/modal"
				],
				"operationId": "getModal",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/modal/{modalName}": {
			"post": {
				"tags": [
					"system/modal"
				],
				"operationId": "submitModalAction",
				"parameters": [
					{
						"name": "modalName",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v2/offers": {
			"get": {
				"tags": [
					"commerce/offers"
				],
				"operationId": "getOffers",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "Offer"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"commerce/offers"
				],
				"operationId": "createOffer",
				"parameters": [
					{
						"name": "offerType",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "Offer"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v2/offers/eligible": {
			"get": {
				"tags": [
					"commerce/offers"
				],
				"operationId": "getEligibleOffers",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "EligibleOffers"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v4/flags/{id}": {
			"get": {
				"tags": [
					"safety/reports"
				],
				"operationId": "getReportV4",
				"parameters": [
					{
						"$ref": "#/components/parameters/GenericIdPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "ReportProfileResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"safety/reports"
				],
				"operationId": "submitReportV4",
				"parameters": [
					{
						"$ref": "#/components/parameters/GenericIdPath"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "ReportProfileRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3.1/flags/{id}": {
			"get": {
				"tags": [
					"safety/reports"
				],
				"operationId": "getReportV31",
				"parameters": [
					{
						"$ref": "#/components/parameters/GenericIdPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "ReportProfileResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"safety/reports"
				],
				"operationId": "submitReportV31",
				"parameters": [
					{
						"$ref": "#/components/parameters/GenericIdPath"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "ReportProfileRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/rewarded-ads/consumption": {
			"put": {
				"tags": [
					"commerce/rewarded-ads"
				],
				"operationId": "updateRewardedAdConsumption",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"summary": "Report rewarded ad consumption",
				"description": "Reports status of a rewarded ad watch. Send `STARTED` when the ad begins and `COMPLETED` when it finishes. A `COMPLETED` report grants the reward identified by `type` (e.g. `READ_RECEIPTS`).",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": [
									"source",
									"status",
									"type",
									"adId"
								],
								"properties": {
									"source": {
										"type": "string",
										"description": "Ad mediation network that served the ad, e.g. `APPLOVIN`."
									},
									"status": {
										"description": "Lifecycle status being reported.",
										"allOf": [
											{
												"$ref": "#/components/schemas/RewardedAdConsumptionStatus"
											}
										]
									},
									"type": {
										"description": "Reward being consumed.",
										"allOf": [
											{
												"$ref": "#/components/schemas/RewardedAdType"
											}
										]
									},
									"adId": {
										"type": "string",
										"description": "Identifier of the ad instance, as reported by the ad SDK."
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/v1/rewarded-ads/rewards/restriction": {
			"put": {
				"tags": [
					"commerce/rewarded-ads"
				],
				"operationId": "updateRewardedAdRewardRestriction",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"summary": "Restrict a rewarded ad reward",
				"description": "Updates the restriction for the given rewarded ad reward `type`, sent by the client when a reward should no longer be offered.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": [
									"type"
								],
								"properties": {
									"type": {
										"description": "Reward to restrict.",
										"allOf": [
											{
												"$ref": "#/components/schemas/RewardedAdType"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/v1/rewarded-ads/rewards": {
			"get": {
				"tags": [
					"commerce/rewarded-ads"
				],
				"operationId": "getRewardedAdRewards",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"summary": "List rewarded ad rewards",
				"description": "Returns the rewarded ad rewards available to the current user and their state. Watching an ad for an `ELIGIBLE` reward temporarily unlocks the corresponding feature (for example `READ_RECEIPTS`).",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": [
										"rewards"
									],
									"properties": {
										"rewards": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/RewardedAdReward"
											}
										}
									}
								}
							}
						},
						"description": "OK"
					}
				}
			}
		},
		"/{version}/rewarded-chats": {
			"get": {
				"tags": [
					"commerce/rewarded-chats"
				],
				"operationId": "getRewardedChats",
				"parameters": [
					{
						"$ref": "#/components/parameters/VersionPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "ExploreFreeChatsResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"commerce/rewarded-chats"
				],
				"operationId": "createRewardedChatAction",
				"parameters": [
					{
						"$ref": "#/components/parameters/VersionPath"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3/rightnow/active-post": {
			"get": {
				"tags": [
					"right-now"
				],
				"operationId": "getActiveRightNowPost",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RightNowGetActivePostResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3/rightnow/profiles/{profileId}": {
			"get": {
				"tags": [
					"right-now"
				],
				"operationId": "getOtherUserRightNowPost",
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RightNowGetOtherUserPostResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/{version}/rightnow/posts/{postId}": {
			"patch": {
				"tags": [
					"right-now"
				],
				"operationId": "updateRightNowPost",
				"parameters": [
					{
						"$ref": "#/components/parameters/VersionPath"
					},
					{
						"name": "postId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "UpdatePostRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v4/rightnow/posts": {
			"post": {
				"tags": [
					"right-now"
				],
				"operationId": "createRightNowPostV4",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "CreatePostRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RightNowCreatePostResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3/rightnow/posts": {
			"post": {
				"tags": [
					"right-now"
				],
				"operationId": "createRightNowPostV3",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "CreatePostRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RightNowCreatePostResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/rightnow/posts/{postId}/settings": {
			"patch": {
				"tags": [
					"right-now"
				],
				"operationId": "updateRightNowPostSettings",
				"parameters": [
					{
						"name": "postId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "UpdatePostSettingsRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v5/rightnow/feed": {
			"get": {
				"tags": [
					"right-now"
				],
				"operationId": "getRightNowFeedV5",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"summary": "Get Right Now feed (v5)",
				"description": "Feature-flag `v5` of the Right Now feed. Verified to return the same shape as [GET /v4/rightnow/feed](/grindr-api/right-now#get-right-now-feed); see it for query parameters.",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RightNowFeedResponse"
								}
							}
						},
						"description": "OK"
					}
				}
			}
		},
		"/v1/media/upload": {
			"post": {
				"tags": [
					"right-now"
				],
				"operationId": "uploadRightNowMedia",
				"parameters": [
					{
						"name": "img_1_bottom",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "img_1_left",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "img_1_right",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "img_1_top",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/octet-stream": {
							"schema": {
								"type": "string",
								"format": "binary"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RightNowMediaUploadResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/rightnow/googleplay/sku": {
			"get": {
				"tags": [
					"right-now"
				],
				"operationId": "getRightNowGooglePlaySku",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RightNowSkuResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/rightnow/requests": {
			"post": {
				"tags": [
					"right-now"
				],
				"operationId": "createRightNowRequest",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "RightNowCreateRequestData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3/store/googleplay/products/store": {
			"get": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "getStoreProductsStore",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "StoreResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/consumables/attribution/tokens": {
			"post": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "submitConsumablesAttributionToken",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "PaymentTokenRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "PaymentTokenResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/store/googleplay/products/consumables": {
			"get": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "getConsumableProducts",
				"deprecated": true,
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "ConsumableProductsResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/shop/googleplay/products/explore": {
			"get": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "getExploreShopProducts",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "StoreInProfileResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v2/store/googleplay/products/{oneStopShopCategory}": {
			"get": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "getProductsByOneStopShopCategory",
				"parameters": [
					{
						"name": "oneStopShopCategory",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "StoreResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/store/attribution/tokens": {
			"post": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "submitStoreAttributionToken",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "PaymentTokenRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "PaymentTokenResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v4/store/products/{productId}": {
			"get": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "getStoreProductById",
				"parameters": [
					{
						"name": "productId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "Product"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/shop/googleplay/products/profile_drawer": {
			"get": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "getProfileDrawerShopProducts",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "StoreInProfileResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3.1/store/googleplay/purchases": {
			"post": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "submitGooglePlayPurchase",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "PurchaseData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3.1/store/googleplay/purchases/restorations": {
			"post": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "restoreGooglePlayPurchases",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"allOf": [
										{
											"$ref": "#/components/schemas/UndocumentedObject"
										}
									]
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/store/googleplay/consumables/purchases": {
			"post": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "submitConsumablePurchaseToken",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "ConsumableTokenRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/store/googleplay/subscriptions/purchases": {
			"post": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "submitSubscriptionPurchaseToken",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "SubscriptionTokenRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/store/googleplay/subscriptions/restorations": {
			"post": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "restoreSubscriptions",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "SubscriptionRestorationRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "SubscriptionRestorationResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3/me/subscriptions": {
			"get": {
				"tags": [
					"commerce/storeapirest"
				],
				"operationId": "getSubscriptions",
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "platform",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "SubscriptionResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/toppicks/entitlements/messaging/{profileId}": {
			"get": {
				"tags": [
					"commerce/top-picks"
				],
				"operationId": "getTopPicksMessagingEntitlement",
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "TopPicksEntitlementResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"post": {
				"tags": [
					"commerce/top-picks"
				],
				"operationId": "createTopPicksMessagingEntitlement",
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/toppicks/passed/{passedProfileId}": {
			"put": {
				"tags": [
					"commerce/top-picks"
				],
				"operationId": "markTopPickPassed",
				"parameters": [
					{
						"name": "passedProfileId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3/video-call": {
			"get": {
				"tags": [
					"videocalls"
				],
				"operationId": "getVideoCallInfo",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "VideoCallInfoResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/video-call": {
			"post": {
				"tags": [
					"videocalls"
				],
				"operationId": "createVideoCall",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "CreateVideoCallRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "CreateVideoCallResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"patch": {
				"tags": [
					"videocalls"
				],
				"operationId": "renewVideoCall",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RenewVideoCallResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/video-call/join": {
			"patch": {
				"tags": [
					"videocalls"
				],
				"operationId": "joinVideoCall",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "JoinVideoCallRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "JoinVideoCallResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/video-call/leave": {
			"patch": {
				"tags": [
					"videocalls"
				],
				"operationId": "leaveVideoCall",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "LeaveVideoCallRequestChatV3"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/vip/passed/{passedProfileId}": {
			"put": {
				"tags": [
					"commerce/vip"
				],
				"operationId": "markVipProfilePassed",
				"parameters": [
					{
						"name": "passedProfileId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/vip-profiles": {
			"get": {
				"tags": [
					"commerce/vip"
				],
				"operationId": "getVipProfiles",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "StarProfilesResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/warnings": {
			"put": {
				"tags": [
					"safety/warnings"
				],
				"operationId": "ackWarnings",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v2/warnings": {
			"get": {
				"tags": [
					"safety/warnings"
				],
				"operationId": "getWarnings",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "BannedWarningList"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/public/v1/assignments": {
			"get": {
				"tags": [
					"analytics/assignments"
				],
				"operationId": "getPublicAssignments",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"assignments": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Assignment"
											}
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get public assignments"
			}
		},
		"/v3/assignment": {
			"get": {
				"tags": [
					"analytics/assignments"
				],
				"operationId": "getAssignments",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/GeohashQuery"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"assignments": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Assignment"
											}
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get assignments"
			}
		},
		"/v2/bulk-exposure": {
			"post": {
				"tags": [
					"analytics/trackers"
				],
				"operationId": "submitBulkExposure",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": [
									"exposures"
								],
								"properties": {
									"exposures": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"key": {
													"type": "string"
												},
												"geohash": {
													"$ref": "#/components/schemas/Geohash"
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Empty."
					}
				},
				"summary": "Bulk exposure"
			}
		},
		"/v1/age-verification/verify/document": {
			"post": {
				"tags": [
					"browse/age-verification"
				],
				"operationId": "verifyAgeDocument",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "AgeVerificationPhotoIdMatchRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "AgeVerificationFaceTecResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/age-verification/session": {
			"post": {
				"tags": [
					"browse/age-verification"
				],
				"operationId": "createAgeVerificationSession",
				"summary": "Create age-verification session",
				"description": "Starts the age-verification flow required when the session is age-restricted (JWT `restriction` = `AGE_RESTRICTED`, regions UK/BR/AU).",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "AgeVerificationSessionResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/age-verification/verify/enrollment": {
			"post": {
				"tags": [
					"browse/age-verification"
				],
				"operationId": "verifyAgeEnrollment",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "AgeVerificationFaceTecResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/age-verification/verify/liveness3d": {
			"post": {
				"tags": [
					"browse/age-verification"
				],
				"operationId": "verifyAgeLiveness3d",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "AgeVerificationFaceTecRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "AgeVerificationFaceTecResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/age-verification/options": {
			"get": {
				"tags": [
					"browse/age-verification"
				],
				"operationId": "getAgeVerificationOptions",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "AgeVerificationOptionsResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v3.1/me/blocks": {
			"get": {
				"tags": [
					"browse/blocks"
				],
				"summary": "Get blocked users",
				"operationId": "getBlockedUsers",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"blocking": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"profileId": {
														"type": "integer",
														"format": "int64"
													},
													"blockedTime": {
														"type": "integer",
														"format": "int64",
														"description": "appears to be `0`"
													}
												}
											}
										},
										"blockedBy": {
											"type": "array",
											"nullable": true,
											"items": {
												"type": "string"
											},
											"description": "array of profile-id strings; may be `null`"
										}
									}
								}
							}
						},
						"description": "OK"
					}
				}
			}
		},
		"/v3/me/blocks/{profileId}": {
			"post": {
				"tags": [
					"browse/blocks"
				],
				"summary": "Block a user",
				"operationId": "blockUser",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"x-idempotent": true,
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"updateTime": {
											"type": "integer",
											"format": "int64",
											"description": "appears to be `0`"
										}
									}
								}
							}
						},
						"description": "OK"
					}
				}
			}
		},
		"/v3/me/blocks/{targetProfileId}": {
			"delete": {
				"tags": [
					"browse/blocks"
				],
				"summary": "Unblock a user",
				"operationId": "unblockUser",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/TargetProfileIdPath"
					}
				],
				"x-idempotent": true,
				"responses": {
					"200": {
						"description": "Empty."
					}
				}
			}
		},
		"/v3/me/blocks": {
			"delete": {
				"tags": [
					"browse/blocks"
				],
				"summary": "Unblock all users",
				"operationId": "unblockAllUsers",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"x-idempotent": true,
				"responses": {
					"200": {
						"description": "Empty."
					}
				}
			}
		},
		"/v3/discover": {
			"get": {
				"tags": [
					"browse/discover"
				],
				"operationId": "getDiscoverProfilesV3",
				"parameters": [
					{
						"$ref": "#/components/parameters/GeohashQuery"
					},
					{
						"name": "previewedProfiles",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							}
						},
						"style": "form",
						"explode": true,
						"required": true
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DiscoverResponse"
								}
							}
						},
						"description": "If subscription is purchased,\n\nUnknown, WIP.\n\nIf subscription is not purchased,\n\n- `status` — string, `\"SubscriptionRequired\"`\n- `body` — object\n  - `upsell` — string, `\"Unknown\"`\n  - `profiles` — array, unknown"
					}
				},
				"summary": "Get discover profiles",
				"x-wip": true,
				"deprecated": true,
				"description": "**Removed in app 26.10.0** — the client now uses [GET /v4/discover](/grindr-api/browse/discover). Documented for older builds."
			}
		},
		"/v2/discover": {
			"get": {
				"tags": [
					"browse/discover"
				],
				"operationId": "getDiscoverProfilesV2",
				"parameters": [
					{
						"$ref": "#/components/parameters/GeohashQuery"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DiscoverResponse"
								}
							}
						},
						"description": "If subscription is purchased,\n\nUnknown, WIP.\n\nIf subscription is not purchased,\n\n- `status` — string, `\"SubscriptionRequired\"`\n- `body` — object\n  - `upsell` — string, `\"Unknown\"`"
					}
				},
				"summary": "Get discover profiles (legacy)",
				"x-wip": true,
				"x-legacy": true,
				"deprecated": true,
				"description": "**Removed in app 26.10.0** — the client now uses [GET /v4/discover](/grindr-api/browse/discover). Documented for older builds."
			}
		},
		"/v1/me/pass/{profileId}": {
			"post": {
				"tags": [
					"browse/discover"
				],
				"operationId": "passDiscoverProfile",
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"summary": "Post a pass",
				"x-wip": true
			}
		},
		"/v1/entitlements": {
			"get": {
				"tags": [
					"browse/entitlements"
				],
				"operationId": "getEntitlements",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"rightNow": {
											"type": "integer"
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get entitlements"
			}
		},
		"/v4/cascade": {
			"get": {
				"tags": [
					"browse/grid"
				],
				"operationId": "getCascadeV4",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/NearbyGeoHashQuery"
					},
					{
						"$ref": "#/components/parameters/ExploreGeoHashQuery"
					},
					{
						"$ref": "#/components/parameters/GridPhotoOnlyQuery"
					},
					{
						"$ref": "#/components/parameters/GridFaceOnlyQuery"
					},
					{
						"$ref": "#/components/parameters/GridNotRecentlyChattedQuery"
					},
					{
						"$ref": "#/components/parameters/GridHasAlbumQuery"
					},
					{
						"$ref": "#/components/parameters/GridFreshQuery"
					},
					{
						"$ref": "#/components/parameters/GridGendersQuery"
					},
					{
						"$ref": "#/components/parameters/GridPageNumberQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeOnlineOnlyQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeAgeMinQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeAgeMaxQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeHeightCmMinQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeHeightCmMaxQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeWeightGramsMinQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeWeightGramsMaxQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeTribesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeLookingForQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeRelationshipStatusesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeBodyTypesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeSexualPositionsQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeMeetAtQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeNsfwPicsQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeTagsQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeRightNowQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeFavoritesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeShowSponsoredProfilesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeShuffleQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeHotQuery"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CascadeResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get Cascade",
				"description": "Fetching the cascade also marks our profile online by always instantly setting `onlineUntil` to current time + exactly 600 s.",
				"x-query-groups": [
					"CascadeQuery"
				]
			}
		},
		"/v3/cascade": {
			"get": {
				"tags": [
					"browse/grid"
				],
				"operationId": "getCascadeV3",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/NearbyGeoHashQuery"
					},
					{
						"$ref": "#/components/parameters/ExploreGeoHashQuery"
					},
					{
						"$ref": "#/components/parameters/GridPhotoOnlyQuery"
					},
					{
						"$ref": "#/components/parameters/GridFaceOnlyQuery"
					},
					{
						"$ref": "#/components/parameters/GridNotRecentlyChattedQuery"
					},
					{
						"$ref": "#/components/parameters/GridHasAlbumQuery"
					},
					{
						"$ref": "#/components/parameters/GridFreshQuery"
					},
					{
						"$ref": "#/components/parameters/GridGendersQuery"
					},
					{
						"$ref": "#/components/parameters/GridPageNumberQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeOnlineOnlyQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeAgeMinQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeAgeMaxQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeHeightCmMinQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeHeightCmMaxQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeWeightGramsMinQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeWeightGramsMaxQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeTribesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeLookingForQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeRelationshipStatusesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeBodyTypesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeSexualPositionsQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeMeetAtQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeNsfwPicsQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeTagsQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeRightNowQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeFavoritesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeShowSponsoredProfilesQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeShuffleQuery"
					},
					{
						"$ref": "#/components/parameters/CascadeHotQuery"
					},
					{
						"name": "exploreUuid",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "unknown, WIP"
					},
					{
						"name": "sexualHealth",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "array of integers concatenated with a `,`, `-1` means \"Not Specified\", see [Sexual health](/grindr-api/users/profiles#sexual-health)"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CascadeResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get Cascade (legacy)",
				"x-legacy": true,
				"x-query-groups": [
					"CascadeQuery"
				],
				"deprecated": true,
				"description": "**Removed in app 26.10.0** — the client now uses [GET /v4/cascade](/grindr-api/browse/grid). Documented for older builds."
			}
		},
		"/v7/search": {
			"get": {
				"tags": [
					"browse/grid"
				],
				"operationId": "searchProfiles",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/NearbyGeoHashQuery"
					},
					{
						"$ref": "#/components/parameters/ExploreGeoHashQuery"
					},
					{
						"$ref": "#/components/parameters/GridPhotoOnlyQuery"
					},
					{
						"$ref": "#/components/parameters/GridFaceOnlyQuery"
					},
					{
						"$ref": "#/components/parameters/GridNotRecentlyChattedQuery"
					},
					{
						"$ref": "#/components/parameters/GridHasAlbumQuery"
					},
					{
						"$ref": "#/components/parameters/GridFreshQuery"
					},
					{
						"$ref": "#/components/parameters/GridGendersQuery"
					},
					{
						"$ref": "#/components/parameters/GridPageNumberQuery"
					},
					{
						"name": "online",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "ageMinimum",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "ageMaximum",
						"in": "query",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "heightMinimum",
						"in": "query",
						"schema": {
							"type": "number",
							"format": "float"
						}
					},
					{
						"name": "heightMaximum",
						"in": "query",
						"schema": {
							"type": "number",
							"format": "float"
						}
					},
					{
						"name": "weightMinimum",
						"in": "query",
						"schema": {
							"type": "number",
							"format": "float"
						}
					},
					{
						"name": "weightMaximum",
						"in": "query",
						"schema": {
							"type": "number",
							"format": "float"
						}
					},
					{
						"name": "grindrTribesIds",
						"in": "query",
						"schema": {
							"type": "string",
							"description": "array of integers concatenated with a `,`, `-1` means \"Not Specified\", see [Tribes](/grindr-api/users/profiles#tribes)"
						}
					},
					{
						"name": "lookingForIds",
						"in": "query",
						"schema": {
							"type": "string",
							"description": "array of integers concatenated with a `,`, `-1` means \"Not Specified\", see [Looking for](/grindr-api/users/profiles#looking-for)"
						}
					},
					{
						"name": "relationshipStatusIds",
						"in": "query",
						"schema": {
							"type": "string",
							"description": "array of integers concatenated with a `,`, `-1` means \"Not Specified\", see [Relationship status](/grindr-api/users/profiles#relationship-status)"
						}
					},
					{
						"name": "bodyTypeIds",
						"in": "query",
						"schema": {
							"type": "string",
							"description": "array of integers concatenated with a `,`, `-1` means \"Not Specified\", see [Body type](/grindr-api/users/profiles#body-type)"
						}
					},
					{
						"name": "sexualPositionIds",
						"in": "query",
						"schema": {
							"type": "string",
							"description": "array of integers concatenated with a `,`, `-1` means \"Not Specified\", see [Sexual position](/grindr-api/users/profiles#sexual-position-id)"
						}
					},
					{
						"name": "meetAtIds",
						"in": "query",
						"schema": {
							"type": "string",
							"description": "array of integers concatenated with a `,`, `-1` means \"Not Specified\", see [Meet at](/grindr-api/users/profiles#meet-at)"
						}
					},
					{
						"name": "nsfwIds",
						"in": "query",
						"schema": {
							"type": "string",
							"description": "array of integers concatenated with a `,`, `-1` means \"Not Specified\", see [Accept NSFW pics](/grindr-api/users/profiles#accept-nsfw-pics)"
						}
					},
					{
						"name": "profileTags",
						"in": "query",
						"schema": {
							"type": "string",
							"description": "string, see [Profile tags](/grindr-api/users/profiles#profile-tags)"
						}
					},
					{
						"name": "searchAfterDistance",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "searchAfterProfileId",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "freeFilter",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SearchProfilesResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Search",
				"description": "Results array appears to be capped to 600 per page. Use `searchAfterProfileId` or `searchAfterDistance` for pagination.",
				"x-query-groups": [
					"GridQuery"
				]
			}
		},
		"/v1/hides": {
			"get": {
				"tags": [
					"browse/hides"
				],
				"operationId": "getHiddenUsers",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"hides": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"profileId": {
														"type": "integer",
														"format": "int64"
													},
													"displayName": {
														"type": "string"
													},
													"mediaHash": {
														"type": "string",
														"description": "appears to be just `\"hash\"`"
													}
												}
											}
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get hidden users"
			},
			"delete": {
				"tags": [
					"browse/hides"
				],
				"operationId": "unhideAllUsers",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"responses": {
					"200": {
						"description": "Empty."
					}
				},
				"summary": "Unhide all hidden users",
				"x-idempotent": true
			}
		},
		"/v1/me/hides/{profileId}": {
			"post": {
				"tags": [
					"browse/hides"
				],
				"operationId": "hideUser",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"updateTime": {
											"type": "integer",
											"format": "int64",
											"description": "appears to be `0`"
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Hide a user",
				"x-idempotent": true
			}
		},
		"/v1/hides/{profileId}": {
			"delete": {
				"tags": [
					"browse/hides"
				],
				"operationId": "unhideUser",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"description": "Empty."
					}
				},
				"summary": "Unhide a user",
				"x-idempotent": true
			}
		},
		"/v4/links/{key}": {
			"get": {
				"tags": [
					"browse/links"
				],
				"operationId": "resolveLinkKey",
				"parameters": [
					{
						"name": "key",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"destination": {
											"type": "string",
											"format": "uri"
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get link",
				"x-wip": true
			}
		},
		"/v3/places/search": {
			"get": {
				"tags": [
					"browse/location"
				],
				"operationId": "searchPlaces",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"name": "placeName",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string",
							"description": "e.g. `Paris`"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"places": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Place"
											}
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Search places by name"
			}
		},
		"/v4/location": {
			"put": {
				"tags": [
					"browse/location"
				],
				"operationId": "updateLocation",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LocationUpdateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Empty."
					}
				},
				"summary": "Update location",
				"description": "Moves the requesting profile to `geohash`. The new position is live immediately. Does not update online status or `onlineUntil`."
			}
		},
		"/v1/location/neighborhood/{geohash}": {
			"get": {
				"tags": [
					"browse/roam"
				],
				"operationId": "getNeighborhoodByGeohash",
				"parameters": [
					{
						"name": "geohash",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Geohash"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/roam/location": {
			"put": {
				"tags": [
					"browse/roam"
				],
				"operationId": "updateRoamLocation",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"allOf": [
									{
										"$ref": "#/components/schemas/UndocumentedObject"
									}
								],
								"x-original-type": "RoamPutLocationRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/roam": {
			"get": {
				"tags": [
					"browse/roam"
				],
				"operationId": "getRoamSession",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "RoamSession"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/roam/status/{location}": {
			"put": {
				"tags": [
					"browse/roam"
				],
				"operationId": "updateRoamStatus",
				"parameters": [
					{
						"name": "location",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/roam/arrival/{days}": {
			"put": {
				"tags": [
					"browse/roam"
				],
				"operationId": "updateRoamArrivalDays",
				"parameters": [
					{
						"name": "days",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/social-events": {
			"get": {
				"tags": [
					"browse/social-events"
				],
				"operationId": "getSocialEvents",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"name": "geohash",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sortBy",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "region",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"events": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/SocialEvent"
											}
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get social events"
			}
		},
		"/v6/profiles/travel/{profileId}": {
			"get": {
				"tags": [
					"browse/travels"
				],
				"operationId": "getTravelPlans",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"travelPlans": {
											"type": "array",
											"items": {
												"allOf": [
													{
														"$ref": "#/components/schemas/TravelPlanMutation"
													},
													{
														"type": "object",
														"properties": {
															"locationName": {
																"type": "string"
															}
														},
														"required": [
															"locationName"
														]
													}
												]
											}
										}
									}
								}
							}
						},
						"description": "OK"
					}
				},
				"summary": "Get travel plans"
			}
		},
		"/v6/profiles/travel": {
			"post": {
				"tags": [
					"browse/travels"
				],
				"operationId": "createTravelPlan",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TravelPlanMutation"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Empty."
					}
				},
				"summary": "Create travel plans"
			}
		},
		"/v6/profiles/travel/update": {
			"post": {
				"tags": [
					"browse/travels"
				],
				"operationId": "updateTravelPlan",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TravelPlanMutation"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Empty."
					}
				},
				"summary": "Update travel plans"
			}
		},
		"/v6/profiles/travel/{travelPlanId}": {
			"delete": {
				"tags": [
					"browse/travels"
				],
				"operationId": "deleteTravelPlanById",
				"security": [
					{
						"Grindr3Auth": []
					}
				],
				"parameters": [
					{
						"name": "travelPlanId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Empty."
					}
				},
				"summary": "Delete travel plans",
				"x-idempotent": true
			}
		},
		"/v1/alist/profiles/{profileId}": {
			"get": {
				"tags": [
					"interest/alist"
				],
				"operationId": "getAListProfile",
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "AListFullProfileApiResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			},
			"delete": {
				"tags": [
					"interest/alist"
				],
				"operationId": "deleteAListProfile",
				"parameters": [
					{
						"$ref": "#/components/parameters/ProfileIdIntegerPath"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/alist/updates": {
			"get": {
				"tags": [
					"interest/alist"
				],
				"operationId": "getAListUpdates",
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UndocumentedObject",
									"x-original-type": "AListUpdatesApiResponse"
								}
							}
						},
						"description": "OK"
					}
				},
				"x-wip": true
			}
		},
		"/v1/alist/feedback/{conversationId}": {
			"post": {
				"tags": [
					"interest/alist"
				],
				"operationId": "submitAListFeedback",
				"parameters": [
					{
[...]
